@import 'tailwindcss';

@theme {
    --color-whote: #fff;
    --color-black: #020305;

    --color-grey-dark: #4A5363;
    --color-grey: #959EB5;
    --color-grey-light: #E4EAFA;
    --color-grey-transparent: #02030533;

    --color-blue: #1D58E9;
    --color-blue-accent: #6DBDFF;
    --color-blue-dark: #202E46;
    --color-blue-light: #EDF2FF;
    --color-blue-dim: #D6DEF5;
    --color-blue-hover: #455879;
    --color-blue-ultra: #7DFFF2;
    --color-blue-transparent: #8192FF40;

    --color-green: #18E53A;

    --color-red: #BE142A;

    --shadow-button: inset 0 -2px 0 0 rgba(255, 255, 255, 0.32), inset 0 1px 0 0 rgba(255, 255, 255, 0.32);
    --background-image-button: linear-gradient(90deg, #1d58e9 0%, #38abe3 50%, #1d58e9 100%);
    --background-image-blue-gradient: linear-gradient(90deg, #1d58e9 0%, #38abe3 100%);
}

.tr-d-all {
    transition: 0.3s ease-in-out all;
}

.tr-d {
    transition: 0.3s ease-in-out;
}

html {
    @apply
    text-black
    scroll-smooth
    scroll-pt-20
    min-w-[360px]
    bg-blue-light
}

body {
    @apply
    flex
    flex-col
    min-h-screen
}

body main {
    @apply
    flex-grow
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.scrollbar-hidden {
    scrollbar-width: none;
}